@import url('https://fonts.googleapis.com/css?family=poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

#header .logo {
    color: #094b65;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 10px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 25px;
    color: #094b65;
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: #094b65;
    color: #fff;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
section::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(to top, #094b65, transparent);
    z-index: 10;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100;
    object-fit: cover;
    pointer-events: none;
}

section #text {
    position: absolute;
    color: #094b65;
    font-size: 10vw;
    text-align: center;
    font-family: 'Rancho', cursive;
    transform: translateY(-50%);

}

section #text span {
    font-size: 0.30em;
    letter-spacing: 2px;
    font-weight: 4000;
    font-family: 'Poppins', sans-serif;

}

#btn {
    position: fixed;
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #ff0;
    color: #094b65;
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translateY(100px);

}
.n1
{
    font-size: 125%;
    width: 95%;
    height: 100px;
    position: relative;
    padding: 50px;
    bottom: -140px;
    color: #53ceff;
}
h1{
    font-size: 50px;
    display: flex;
    margin: 0;
    padding: 20px;
    justify-content: center;
}
.waterlife
{
    font-size: 40px;
    display: flex;
    margin: 0;
    padding: 20px;
    color: #923fff;
    justify-content: center;
}
.sec
{
    display: inline-block;
    width: 95%;
    position: relative;
    padding: 50px;
    top: 1000px;
    color: #14d517;
    font-size: 125%;
}
.sec2
{
    display: inline-block;
    position: relative;
    width: 50%;
    padding: 50px;

    /* font-size: 3.5em; */
    color: #217dff; 
    font-size: 125%;
    top: -30px;
    right: -670px;
    
}
.land
{
    font-size: 40px;
    display: flex;
    margin: 0;
    padding: 20px;
    justify-content: center;
    color: #297b03;
}
#wild
{
    color: blue;
    font-size: 70px;
}
#elep
{
    width: 500px;
    height: 400px;
    top: 2270px;
    left: 50px;
    border-radius: 10px;
}
#aqua
{
    width: 520px;
    height: 290px;
    top: 1383px;
    left: 131px;
    border-radius: 10px;
}
#cute
{
    width: 520px;
    height: 231px;
    top: 1688px;
    left: 131px;
    border-radius: 10px;
}
#deer
{
    width: 500px;
    height: 400px;
    top: 2270px;
    left: 980px;
    border-radius: 10px;
}
#zebra
{
    width: 338px;
    height: 400px;
    top: 2270px;
    left: 596px;
    border-radius: 10px;
}
.footer
{
    margin: 0;
    padding: 10px;
    position: relative;
    display: flex;
    font-size: 100%;
    color: white;
    justify-content: center;
    background-color: black;
    top: 677px;
    font-weight: bold;
}